/* -- Универсальный скрывающий стиль!!! -- */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}


/* -- Универсальный скрывающий стиль!!! -- */


/* -- Основной стиль страницы -- */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-style: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(../svg/body_fon.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.main-header {}

.main-navigation {
    font-style: 16px;
    line-height: 20px;
    color: #ffffff;
    border-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:focus,
.user-navigation a:hover {
    background-color: #242424;
}

.main-header-logo {}

.site-navigation {}

.user-navigation {}

.login-link {}

.container {}

.visually-hidden {}

.features {}

.features-list {
    list-style: none;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-style: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;
    background-color: #f8f5f2;
}

.index-columns h2 {
    font-style: 30px;
    line-height: 42px;
}

.news {}

.news-list {
    list-style: none;
}

.news-item {}

.news-item time {
    text-transform: none;
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
}

.gallery {}

.gallery-content {
    background-color: #cccccc;
    border: 2px solid #ffffff;
}

.gallery-button {}

.gallery-button-back {}

.gallery-button-next {}

.contacts {}

.appointment {}

.appointment-info {}

.appointment-form {}

.appointment-item {}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border: none;
    outline: 2px solid #663d15;
}

.main-footer {
    color: #ffffff;
    border-color: #212121;
}

.footer-contacts {}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    color: #000000;
    background-color: #f8f3f0;
}

.modal h2 {
    font-style: 30px;
    line-height: 42px;
}

.modal-login {}

.login-form {}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border: none;
    outline: 2px solid #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-icon-user {}

.login-icon-password {}

.login-password-info {}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

.modal-close {}

.modal-map {}